<?xml version="1.0" encoding="UTF-8"?>    
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.date.dao.UserDao">  
<!--设置domain类和数据库中表的字段一一对应，注意数据库字段和domain类中的字段名称不致，此处一定要！-->  
    <resultMap id="BaseResultMap" type="com.date.model.User">  
        <id column="ID" property="id" jdbcType="CHAR" />  
        <result column="NAME" property="name" jdbcType="CHAR" />  
        <result column="OPENID" property="openId" jdbcType="CHAR" />  
        <result column="SEX" property="sex" jdbcType="CHAR" />
        <result column="AGE" property="age" jdbcType="INTEGER" />  
    </resultMap>  
    <!-- 查询单条记录 -->  
    <select id="selectUserById" parameterType="String" resultMap="BaseResultMap">  
        SELECT * FROM user WHERE id = #{id}
    </select>  
</mapper> 